<%#
  This partial is used by #index and #show. It behaves differently by displaying different schema
  types according to the caller.

  Google Rich Snippets doesn't like nested schemas in certain cases.
%>
<div class="active_blog entry" <%= show ? '' : 'itemscope itemtype="http://schema.org/BlogPosting"'.html_safe %>>
  <%- if show %>
    <%= content_for :schema do %>
      <%= render :partial => 'blog_post_schema', :locals => {:blog_post => blog_post} %>
    <% end %>
  <% else %>
    <%= render :partial => 'blog_post_schema', :locals => {:blog_post => blog_post} %>
  <% end %>

  <h4>
    <%= blog_post.published_at.strftime("%B %-e, %G") %>
  </h4>

  <h2>
    <%= link_to(blog_post.title, active_blog_post_path(blog_post.cached_slug)) %>
  </h2>

  <div class="active_blog body">
    <%= markdown.render(blog_post.body || "") %>
  </div>
</div>
