<div class="active_blog entry" itemscope itemtype="http://schema.org/BlogPosting">
  <%= render :partial => 'blog_post_schema', :locals => {:blog_post => blog_post} %>
  <h6>
    <%= blog_post.published_at.strftime("%B %e %G") %>
    <% if blog_post.new_record? %>
      <a href="" itemscope itemprop="url">∞</a>
    <% else %>
      <a href="<%= active_blog_post_path(blog_post.cached_slug) %>">∞</a>
    <% end %>
  </h6>
  <h2>
    <%= blog_post.title %>
  </h2>

  <div class="active_blog body">
    <%= markdown(blog_post.body || "") %>
  </div>
</div>
<hr/>