<%= active_blog_sidebar do %>
  <div class="panel panel-default panel-recent-posts section active_blog sidebar">
  <div class="panel-heading">Recent posts</div>
  <ul class="list-group list-recent-posts">
    <% @recent_blog_posts.each do |recent_blog_post| %>
      <li class="list-group-item recent-post"><a href='<%= active_blog_post_path(recent_blog_post.cached_slug) %>' title='<%= recent_blog_post.title %>'><%= recent_blog_post.title %></a></li>
    <% end %>
  </ul>
  <div class="panel-footer">
    <%= link_to 'Archives', active_blog_archives_path %>
  </div>
</div>
<% end %>