<div class="panel <%= @active_blog_blog_post.new_record? ? "new" : "show" %> blog">
  <h3><%= @active_blog_blog_post.new_record? ? "Live Preview" : "Blog Entry" %></h3>
  <div>
    <h4><%= @active_blog_blog_post.title || "[Title]" %>
    <span>
      <% if @active_blog_blog_post.cached_slug %>
        (<%= active_blog_post_url(:cached_slug => @active_blog_blog_post.cached_slug) %>)
      <% end %>
    </span>
    </h4>
  </div>
  <div>

  </div>
  <div>
    <%= markdown(@active_blog_blog_post.body || "Body") %>
  </div>
</div>